ElClavoOxidado/Web References/CostoEnvioWebService/ClavoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CostoEnvio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pProvincia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CostoEnvioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CostoEnvioResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CostoEnvioSoapIn">
    <wsdl:part name="parameters" element="tns:CostoEnvio" />
  </wsdl:message>
  <wsdl:message name="CostoEnvioSoapOut">
    <wsdl:part name="parameters" element="tns:CostoEnvioResponse" />
  </wsdl:message>
  <wsdl:portType name="ClavoServiceSoap">
    <wsdl:operation name="CostoEnvio">
      <wsdl:input message="tns:CostoEnvioSoapIn" />
      <wsdl:output message="tns:CostoEnvioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClavoServiceSoap" type="tns:ClavoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CostoEnvio">
      <soap:operation soapAction="http://tempuri.org/CostoEnvio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClavoServiceSoap12" type="tns:ClavoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CostoEnvio">
      <soap12:operation soapAction="http://tempuri.org/CostoEnvio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClavoService">
    <wsdl:port name="ClavoServiceSoap" binding="tns:ClavoServiceSoap">
      <soap:address location="http://localhost:64836/ClavoService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClavoServiceSoap12" binding="tns:ClavoServiceSoap12">
      <soap12:address location="http://localhost:64836/ClavoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>